.advantages {
  @include container;

  min-height: 380px;
  margin-bottom: 39px;
}

.advantages__title {
  display: block;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;

  font: inherit;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  min-height: 60px;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 80px;

  font-family: $arialFont;
  color: $basicTextColor;
}

@media (min-width: $tablet) {
  .advantages {
    margin-bottom: 43px;

    border-bottom: 1px solid rgb(230, 230, 230);
  }

  .advantages__title {
    margin-bottom: 28.5px;

    font-size: 60px;
    line-height: 60px;
  }

  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12.5px;
  }

  .advantages__item {
    width: 245px;
    min-height: 230px;
    margin: 43.5px 139px 43.5px 0;
    padding: 112px 0 9px 0;

    font-size: 16px;
    line-height: 24px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop) {
  .advantages {
    margin-bottom: 27px;

    border: none;
  }

  .advantages__title {
    margin-bottom: 72px;
  }

  .advantages__item {
    margin: 0 80px 40px 0;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
