.extras {
  @include container;

  margin-bottom: 39px;
}

.extras__title {
  @include green-line-both(14px, 26px, 20px);

  display: block;
  width: 247px;
  margin: 0;
  padding: 0 0 34px 0;

  font: inherit;
  font-size: 24px;
  line-height: 24px;
}

.extras__list {
  border-top: 1px solid rgb(205, 205, 205);
}

@media (min-width: $tabletWidth) {
  .extras {
    margin-bottom: 68px;
  }

  .extras__title {
    @include green-line-both(21px, 1px, 27px);

    width: 384px;
    margin-bottom: 46px;
    padding-left: 38px;

    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktopWidth) {
  .extras {
    width: 895px;
    margin: 0;
    padding: 0;
  }

  .extras__title {
    @include green-line-both(22px, 40px, -11px);

    padding-left: 0;
  }
}
