.extra {
  padding-top: 13px;
  padding-bottom: 17px;

  border-bottom: 1px solid rgb(205, 205, 205);
}

.extra__link {
  display: block;
  margin: 0;
  padding: 0;

  color: inherit;
}

.extra__name {
  display: block;
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  padding-left: 1px;

  font: inherit;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
}

.extra__property {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  font-size: 14px;
  line-height: 14px;
  font-family: $arialFont;
  color: $basicTextColor;
}

.extra__property-name {
  margin: 0;
  padding: 0;
}

.extra__property-value {
  margin: 0;
  padding: 0;

  transform: translateX(2px);
}

.extra__button {
  padding-left: 3px;

  font-size: 16px;
}

@media (min-width: $tabletWidth) {
  .extra {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    padding: 25px 36px 28px 36px;

    border-right: 1px solid rgb(205, 205, 205);
    border-left: 1px solid rgb(205, 205, 205);
  }

  .extra__name {
    padding-left: 2px;

    font-size: 20px;
    line-height: 20px;
  }

  .extra__property {
    width: 249px;
    margin: 3px 0 22px auto;

    font-size: 16px;
    line-height: 20px;
  }

  .extra__property-name {
    width: 154px;
    padding-left: 10px;

    text-align: right;
  }

  .extra__property-value {
    width: 95px;
    margin-left: auto;
    padding-left: 10px;

    text-align: right;

    transform: none;
  }

  .extra__button {
    width: 100%;
    margin: 0 0 0 1px;
    padding-left: 0;
  }
}

@media (min-width: $desktopWidth) {
  .extra {
    flex-wrap: nowrap;
    align-items: center;
    min-height: 72px;
    padding: 0 0 1px 0;

    border-right: none;
    border-left: none;
  }

  .extra__name {
    width: 245px;
    margin: 0;
  }

  .extra__property {
    width: 290px;
    margin: 8px 0 0 80px;
  }

  .extra__property-name {
    width: 190px;
    padding-right: 10px;
    padding-left: 0;

    text-align: left;
  }

  .extra__property-value {
    width: 45px;
    padding-left: 0;

    text-align: left;
  }

  .extra__button {
    width: 245px;
    margin-left: auto;
    padding-left: 2px;
  }
}
