.extras {
  @include container;

  margin-bottom: 39px;
}

.extras__title {
  display: block;
  margin: 0;
  padding: 0 0 34px 0;

  font: inherit;
  font-size: 24px;
  line-height: 24px;
}

.extras__list {
  border-top: 1px solid rgb(205, 205, 205);
}

@media (min-width: $tabletWidth) {
  .extras {
    margin-bottom: 68px;
  }

  .extras__title {
    margin-bottom: 46px;
    padding-left: 38px;

    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktopWidth) {
  .extras {
    width: 895px;
    margin: 0;
    padding: 0;
  }

  .extras__title {
    padding-left: 0;
  }
}
