.extras {
  @include container;

  margin-bottom: 39px;
}

.extras__title {
  display: block;
  min-height: 59px;
  margin: 0;
  padding: 0;

  font: inherit;
  font-size: 24px;
  line-height: 24px;
}

@media (min-width: $tablet) {
  .extras {
    margin-bottom: 69px;
  }

  .extras__title {
    margin-bottom: 58px;
    padding-left: 38px;

    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop) {
  .extras {
    width: 895px;
    margin: 0;
    padding: 0;
  }

  .extras__title {
    padding-left: 0;
  }
}
