.footer {
  @include container;

  padding-top: 40px;

  background-color: rgb(242, 242, 242);
}

.footer__main-title {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto 29px auto;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;
  min-height: 78px;
  padding-top: 30px;
}

.footer__copyright-text {
  display: block;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 16px;
  font-family: $arialFont;
  color: $basicTextColor;
}

.footer__copyright-link {
  font-size: 0;
}

@media (min-width: $tablet) {
  .footer {
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
    padding-bottom: 58px;
  }

  .footer__main-title {
    margin: auto 27px auto 0;
  }

  .footer__copyright {
    width: 164px;
    min-height: 34px;
    margin: auto 0;
    padding-top: 8px;
  }
}
