.footer {
  background-color: rgb(242, 242, 242);
}

.footer__container {
  @include container;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 39px;
}

.footer__logo {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0 auto 30px auto;
  padding: 0;

  cursor: pointer;
}

.footer__logo-image {
  display: block;
  width: 128px;
  height: 24px;
  margin: 0;
  padding: 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__copyright-link {
  display: flex;
  justify-content: flex-start;
  padding: 22px 0 22px 0;

  color: $basicTextColor;

  &:hover {
    color: $basicThemeColor;
  }

  &:active {
    color: $basicThemeColor;

    opacity: 0.3;
  }
}

.footer__copyright-text {
  margin: 0 auto 0 0;
  padding: 8px 0 0 0;

  font-size: 16px;
  line-height: 16px;
  font-family: $arialFont;
  color: $basicTextColor;

  pointer-events: none;
}

.footer__copyright-logo {
  width: 27px;
  height: 34px;

  pointer-events: none;
}

@media (min-width: $tabletWidth) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 41px;
    padding-bottom: 37px;
  }

  .footer__logo {
    width: 147px;
    margin: 22px auto 22px 1px;
  }

  .footer__copyright-link {
    width: 164px;
    margin: 16px 0 0 auto;
    padding: 0 0 22px 0;
  }
}

@media (min-width: $desktopWidth) {
  .footer__container {
    padding-top: 43px;
    padding-bottom: 34px;
  }

  .footer__logo {
    margin: 20px auto 24px 0;
  }
}
