.header {
  position: relative;

  &--bg-cat {
    &::before {
      content: "";
      position: absolute;
      top: 100%;

      display: block;
      width: 100%;
      height: 305px;

      background-color: $basicThemeColor;
      background-image: url("../img/index-background-mobile@1x.jpg");
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-resolution: $retinaDpi),
        (min-resolution: $retinaDppx) {
        background-image: url("../img/index-background-mobile@2x.jpg");
      }
    }
  }
}

.header__wrap {
  @include container;

  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  padding: 11px 0 0 0;
}

.header__logo-image {
  display: block;
  width: 191px;
  height: 38px;
  margin: 0 0 16px 20px;
  padding: 0;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__button {
  width: 18px;
  height: 18px;
  margin: 12px 23px auto auto;
  padding: 0;
  cursor: pointer;

  font-size: 0;

  background-color: rgb(255, 255, 255);
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;

  &--menu {
    background-image: url("../img/icon-mobile-menu.svg");
  }

  &--menu ~ .header__menu {
    display: none;
  }

  &--nojs ~ .header__menu {
    display: block;
  }
}

@media (min-width: $tabletWidth) {
  .header {
    &--bg-cat {
      &::before {
        display: none;
      }
    }
  }

  .header__wrap {
    display: flex;
    padding-top: 24px;
  }

  .header__logo {
    flex-shrink: 0;
  }

  .header__logo-image {
    width: 173px;
    height: 58px;
    margin: 0;
  }

  .header__button {
    display: none;

    &--menu ~ .header__menu {
      display: block;
    }
  }

  .header__menu {
    flex-shrink: 0;
    margin-left: auto;
  }
}

@media (min-width: $desktopWidth) {
  .header {
    &--bg-cat {
      &::before {
        top: 0;
        right: 1px;

        display: block;
        width: 50%;
        height: 696px;

        background-image: url("../img/index-background-desktop@1x.jpg");

        @media (min-resolution: $retinaDpi),
          (min-resolution: $retinaDppx) {
          background-image: url("../img/index-background-desktop@2x.jpg");
        }
      }
    }

    &--bg-cat .nav-main {
      color: rgb(255, 255, 255);
    }

    &--bg-cat .nav-main__item {
      &:hover {
        border-bottom-color: rgb(255, 255, 255);
      }

      &--active {
        border-bottom-color: rgb(255, 255, 255);
      }
    }
  }

  .header__wrap {
    padding-top: 54px;
  }

  .header__logo-image {
    width: 202px;
    height: 60px;
  }
}
