.main {
  position: relative;

  margin: 0;
  padding: 0;
}

.main__title {
  @include container;

  display: block;
  padding-top: 15px;
  padding-bottom: 28px;

  font: inherit;
  font-size: 36px;
  line-height: 60px;
  text-align: left;

  &--form {
    padding-bottom: 25px;
  }
}

@media (min-width: $tabletWidth) {
  .main__title {
    min-height: 128px;
    margin-bottom: 30px;
    padding-top: 58px;

    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktopWidth) {
  .main__title {
    min-height: 150px;
    margin-bottom: 36px;
    padding-top: 74px;

    &--form {
      margin-bottom: 27px;
    }
  }

  .main__wrap {
    display: flex;
    align-items: flex-start;
    width: 1440px;
    margin: 0 auto 86px auto;
    padding: 0 110px;
  }
}
