.nav-main {
  width: 100%;
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  border-top: 1px solid rgb(230, 230, 230);
}

.nav-main__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-main__item {
  margin: 0;
  padding: 0;

  border-bottom: 1px solid rgb(230, 230, 230);
}

.nav-main__link {
  display: block;
  min-height: 65px;
  margin: 0;
  padding: 22px 0 0 0;

  font: inherit;
  text-align: center;
  color: inherit;
}

@media (min-width: $tablet) {
  .nav-main {
    width: auto;

    font-weight: 400;
    font-size: 18px;
    line-height: 24.86px;

    border-top: none;
  }

  .nav-main__list {
    display: flex;
    width: 440px;
    padding-top: 10px;
  }

  .nav-main__item {
    border: none;

    &:not(:last-child) {
      margin-right: 35px;
    }

    &:hover {
      border-bottom: 2px solid $basicThemeColor;
    }

    &--active {
      border-bottom: 2px solid $basicThemeColor;
    }
  }

  .nav-main__link {
    min-height: 40px;
    padding-top: 10px;
  }
}

@media (min-width: $desktop) {
  .nav-main {
    font-size: 20px;
  }

  .nav-main__list {
    width: 480px;
  }

  .nav-main__link {
    min-height: 42px;
  }
}
