.nav-main {
  margin: 0;
  padding: 0;
}

.nav-main__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-main__item {
  margin: 0;
  padding: 0;

  border-bottom: 1px solid $color--gainsboro;
}

.nav-main__link {
  display: block;
  min-width: 280px;
  min-height: 65px;
  margin: 0;
  padding: 0;
  padding-top: 22px;

  font: inherit;
  text-align: center;
  color: inherit;

  background-color: inherit;
}
