.programs {
  @include container;

  margin-bottom: 17px;
}

.programs__wrap {
  padding-top: 27px;

  color: rgb(255, 255, 255);
}

.programs__title {
  display: block;
  margin: 0 0 25px 0;
  padding: 0;

  font: inherit;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.programs__tagline {
  display: block;
  margin-bottom: 28px;

  font: inherit;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.programs__product-img {
  display: block;
  margin: 0 auto 3px auto;
  padding: 0;
}

.programs__button {
  margin: 0 auto 22px auto;
  padding-top: 11px;

  font: inherit;
}

.programs__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.programs__item {
  margin: 0 0 20px 0;
  padding: 30px 20px 22px 20px;

  background-color: rgb(242, 242, 242);

  &:last-child {
    margin-bottom: 0;
  }
}

.programs__item-title {
  display: block;
  margin: 0 0 29px 0;
  padding: 0 0 0 71px;

  font: inherit;
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;
}

.programs__item-description {
  margin: 0 0 19px 0;
  padding: 0 0 22px 0;

  font-family: $arialFont;
  color: $basicTextColor;

  border-bottom: 1px solid rgb(217, 217, 217);
}

.programs__link {
  display: block;
  margin: 0;
  padding: 0;

  font: inherit;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: inherit;
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tabletWidth) {
  .programs {
    margin-bottom: 45px;
  }

  .programs__wrap {
    position: relative;

    padding: 58px 0 529px 88px;
  }

  .programs__title {
    width: 427px;
    margin-bottom: 41px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $bodyColor;
  }

  .programs__tagline {
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $bodyColor;
  }

  .programs__product-img {
    position: absolute;
    bottom: 0;
    left: 90px;

    width: 609px;
    height: 609px;
    margin: 0;
  }

  .programs__button {
    position: relative;

    width: 245px;
    margin: 0;
    padding: 15px 2px 17px 0;

    font-size: 20px;
    line-height: 20px;
  }

  .programs__item {
    margin-bottom: 30px;
    padding: 76px 280px 62px 52px;

    &:last-child {
      margin-bottom: 0;
    }

    &--pro {
      padding-right: 315px;
    }
  }

  .programs__item-title {
    margin-bottom: 25px;
    padding-left: 1px;

    font-size: 36px;
    line-height: 37.02px;
  }

  .programs__item-description {
    margin-bottom: 34px;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  .programs__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktopWidth) {
  .programs__wrap {
    margin-bottom: 80px;
    padding: 108px 0 188px 80px;
  }

  .programs__product-img {
    top: 30px;
    right: 220px;
    bottom: unset;
    left: unset;

    width: 552px;
    height: 499px;
  }

  .programs__tagline {
    margin-bottom: 53px;
  }

  .programs__list {
    display: flex;
    flex-wrap: wrap;
  }

  .programs__item {
    width: 570px;
    margin-bottom: 28px;
    padding: 76px 55px 62px 52px;

    &:last-child {
      margin-bottom: 28px;
    }

    &:nth-child(2n+1) {
      margin-right: 80px;
    }
  }

  .programs__item-title {
    margin-bottom: 74px;
    padding-left: 162px;
  }

  .programs__item-description {
    margin-bottom: 9px;
  }
}
