.programs {
  @include container;

  margin-bottom: 17px;
}

.programs__wrap {
  padding-top: 27px;

  color: rgb(255, 255, 255);
}

.programs__title {
  display: block;
  margin: 0 0 25px 0;
  padding: 0;

  font: inherit;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
}

.programs__tagline {
  display: block;
  margin-bottom: 28px;

  font: inherit;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.programs__product-img {
  display: block;
  margin: 0 auto 3px auto;
  padding: 0;
}

.programs__button {
  margin: 0 auto 22px auto;
  padding-top: 11px;

  font: inherit;
}

.programs__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.programs__item {
  position: relative;

  margin: 0 0 20px 0;
  padding: 30px 20px 20px 20px;

  background-color: rgb(242, 242, 242);

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;

    display: block;
    width: 50px;
    height: 50px;

    background-color: $basicThemeColor;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;

    display: block;

    background-repeat: no-repeat;
  }

  &--slim {
    &::after {
      top: 22px;
      left: 30px;

      width: 35px;
      height: 49px;

      background-image: url("../img/icon-cat-slim.svg");
    }
  }

  &--pro {
    &::after {
      top: 35px;
      left: 13px;

      width: 67px;
      height: 28px;

      background-image: url("../img/icon-cat-pro.svg");
    }
  }
}

.programs__item-title {
  display: block;
  margin: 0 0 29px 0;
  padding: 0 0 0 71px;

  font: inherit;
  font-size: 24px;
  line-height: 37px;
  text-align: left;
  text-transform: uppercase;
}

.programs__item-description {
  margin: 0 0 19px 0;
  padding: 0 0 22px 0;

  font-family: $arialFont;
  color: $basicTextColor;

  border-bottom: 1px solid rgb(217, 217, 217);
}

.programs__link {
  position: relative;

  display: inline-block;
  margin: 0;
  padding: 0 36px 0 0;

  font: inherit;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: inherit;
  text-transform: uppercase;

  &:active {
    padding-right: 45px;

    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 3px;
    right: 0;

    display: block;
    width: 24px;
    height: 11px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:active::after {
    width: 33px;
    height: 11px;

    background-image: url("../img/icon-right-arrow-verylong.svg");
  }
}

@media (min-width: $tabletWidth) {
  .programs {
    margin-bottom: 45px;
  }

  .programs__wrap {
    position: relative;

    padding: 58px 0 529px 12.43%;
  }

  .programs__title {
    width: 83%;
    margin-bottom: 41px;

    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $bodyColor;
  }

  .programs__tagline {
    width: 60%;
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: $bodyColor;
  }

  .programs__product-img {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 709px;
    height: 609px;
    margin: 0 auto;
  }

  .programs__button {
    position: relative;

    width: 245px;
    margin: 0;
    padding: 15px 2px 17px 0;

    font-size: 20px;
    line-height: 20px;
  }

  .programs__item {
    margin-bottom: 30px;
    padding: 76px 280px 60px 52px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      top: 92px;
      right: 62px;
      left: auto;

      width: 200px;
      height: 200px;
    }

    &--slim {
      &::after {
        top: 80px;
        right: 92px;
        left: auto;

        width: 140px;
        height: 194px;
      }
    }

    &--pro {
      padding-right: 315px;

      &::before {
        top: 91px;
        right: 60px;
      }

      &::after {
        top: 135px;
        right: 28px;
        left: auto;

        width: 268px;
        height: 112px;
      }
    }
  }

  .programs__item-title {
    margin-bottom: 25px;
    padding-left: 1px;

    font-size: 36px;
    line-height: 37.02px;
  }

  .programs__item-description {
    margin-bottom: 34px;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  .programs__link {
    padding-right: 48px;

    font-size: 20px;
    line-height: 20px;

    &:active {
      padding-right: 57px;
    }

    &::after {
      top: 5px;
    }
  }
}

@media (min-width: $desktopWidth) {
  .programs__wrap {
    margin-bottom: 80px;
    padding: 108px 0 188px 80px;
  }

  .programs__title {
    width: 40%;
  }

  .programs__product-img {
    top: 28px;
    right: 218px;
    bottom: auto;
    left: auto;

    width: 552px;
    height: 499px;
  }

  .programs__tagline {
    width: 30%;
    margin-bottom: 53px;
  }

  .programs__list {
    display: flex;
    flex-wrap: wrap;
  }

  .programs__item {
    width: 570px;
    margin-bottom: 28px;
    padding: 76px 55px 60px 52px;

    &:last-child {
      margin-bottom: 28px;
    }

    &:nth-child(2n+1) {
      margin-right: 80px;
    }

    &::before {
      top: 47px;
      right: auto;
      left: 52px;

      width: 100px;
      height: 100px;
    }

    &--slim {
      &::after {
        top: 41px;
        right: auto;
        left: 66px;

        width: 70px;
        height: 97px;
      }
    }

    &--pro {
      &::before {
        top: 47px;
        right: auto;
        left: 52px;
      }

      &::after {
        top: 69px;
        right: auto;
        left: 34px;

        width: 134px;
        height: 56px;
      }
    }
  }

  .programs__item-title {
    margin-bottom: 74px;
    padding-left: 162px;
  }

  .programs__item-description {
    margin-bottom: 9px;
  }
}
