.request {
  @include container;

  margin-bottom: 32px;

  font-size: 16px;
  text-transform: uppercase;
}

.request__title {
  @include visually-hidden;
}

.request__annotation {
  width: 82.14%;
  margin: 0 0 39px 0;
  padding: 0 0 0 1px;

  font-size: 14px;
}

.request__cat {
  margin: 0 0 23px 0;
  padding: 0;

  border: none;
}

.request__cat-title {
  @include visually-hidden;
}

.request__cat-propertys {
  margin: 0;
  padding: 0;

  list-style: none;
}

.request__cat-property {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;

  &:not(:last-child) {
    margin-bottom: 14px;
  }
}

.request__label {
  display: block;
  flex-shrink: 0;
  margin: auto 16px auto 0;
  padding: 0 0 1px 0;

  color: rgb(34, 34, 34);

  & sup {
    vertical-align: top;
  }
}

.request__input {
  position: relative;
  z-index: 10;

  flex-grow: 1;
  //Fix IE11, Chrome input bug
  flex-basis: 0;
  min-width: 0;
  height: 45px;
  margin: 0;
  padding: 14px 40px 14px 15px;

  font: inherit;
  color: $basicTextColor;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid rgb(230, 230, 230);

  appearance: none;

  &:hover {
    border-color: rgb(205, 205, 205);
  }

  &:active,
  &:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: inset 0 0 0 2px rgba(68, 68, 68, 1);
  }

  &--error {
    border-color: transparent;
    outline: 0;
    box-shadow: inset 0 0 0 2px rgba(255, 130, 130, 1);
  }

  &--error ~ .request__input-icon {
    color: rgba(255, 130, 130, 1);
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    margin: 0;

    appearance: none;
  }

  &[type="number"] {
    appearance: textfield;
  }

  &:active ~ .request__input-icon,
  &:focus ~ .request__input-icon {
    color: $basicThemeColor;
  }
}

.request__input-icon {
  position: absolute;
  z-index: 1;

  &--email {
    top: 16px;
    right: 16px;

    width: 17px;
    height: 13px;
  }

  &--tel {
    top: 13px;
    right: 13px;

    width: 20px;
    height: 20px;
  }
}

.request__goals {
  position: relative;

  margin: 0 0 28px 0;
  padding: 21px 10px 21px 0;

  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -7.14%;

    display: block;
    width: 114.28%;
    height: 100%;

    border: 1px solid rgb(237, 237, 237);
  }
}

.request__goals-title {
  @include visually-hidden;
}

.request__goals-list {
  width: 270px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.request__goals-item {
  display: block;
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 13px;
  }

  & .request__input {
    @include visually-hidden;
  }

  & .request__label {
    position: relative;

    margin: 0;
    padding: 6px 10px 6px 46px;

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 30px;
      height: 30px;

      border: 1px solid rgb(205, 205, 205);
      border-radius: 50%;
    }

    &:hover::before {
      border-color: rgb(186, 186, 186);
    }

    &:active {
      opacity: 0.3;
    }
  }

  & .request__input:focus ~ .request__label {
    box-shadow: inset 0 0 0 2px rgba(68, 68, 68, 1);
  }

  & .request__input:checked ~ .request__label {
    &::after {
      content: "";
      position: absolute;
      top: 9px;
      left: 9px;

      display: block;
      width: 12px;
      height: 12px;

      background-color: $basicThemeColor;
      border-radius: 50%;
    }
  }

  & .request__input:disabled ~ .request__label {
    opacity: 0.2;

    pointer-events: none;
  }
}

.request__owner {
  margin: 0 0 28px 0;
  padding: 0;

  border: none;
}

.request__owner-title {
  @include green-line-both(14px, 26px, 16px);

  display: block;
  width: 185px;
  margin: 0 0 34px 0;
  padding: 0;

  font-size: 24px;
  line-height: 24px;
  text-align: left;
  text-transform: none;
}

.request__owner-list {
  margin: 0;
  padding: 0;
}

.request__owner-item {
  position: relative;

  display: flex;
  align-items: flex-start;

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  & .request__label {
    margin-right: 12px;
  }
}

.request__comment {
  margin-bottom: 28px;
}

.request__comment-title {
  @include green-line-both(14px, 26px, 2px);

  display: block;
  width: 140px;
  margin: 0 0 35px 0;
  padding: 0;

  font-size: 24px;
  line-height: 24px;
  text-transform: none;
}

.request__comment-text {
  display: block;
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 4.29% 3.57% 4.29% 5.36%;
  overflow: auto;

  font: inherit;
  color: $basicTextColor;
  text-transform: uppercase;

  border: 1px solid rgb(230, 230, 230);

  resize: none;

  appearance: none;


  &:hover {
    border-color: rgb(205, 205, 205);
  }

  &:active,
  &:focus {
    border-color: transparent;
    outline: 0;
    box-shadow: inset 0 0 0 2px rgba(68, 68, 68, 1);
  }

  &--error {
    border-color: transparent;
    outline: 0;
    box-shadow: inset 0 0 0 2px rgba(255, 130, 130, 1);
  }
}

.request__additionally {
  margin: 0;
  padding: 0;

  border: none;
}

.request__additionally-title {
  @include green-line-both(14px, 26px, 14px);

  display: block;
  width: 150px;
  margin: 0 0 35px 0;
  padding: 0;

  font-size: 24px;
  line-height: 24px;
  text-transform: none;
}

.request__additionally-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin: 0 0 35px 0;
  padding: 0;

  list-style: none;
}

.request__additionally-item {
  display: block;
  width: 220px;
  margin: 0 0 12px 0;
  padding: 0;

  &:last-child {
    margin-bottom: 0;
  }

  & .request__input {
    @include visually-hidden;
  }

  & .request__label {
    position: relative;

    padding: 6px 10px 6px 46px;

    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 30px;
      height: 30px;

      border: 1px solid rgb(205, 205, 205);
    }

    &:hover::before {
      border-color: rgb(186, 186, 186);
    }

    &:active {
      opacity: 0.3;
    }
  }

  & .request__input:focus ~ .request__label {
    box-shadow: inset 0 0 0 2px rgba(68, 68, 68, 1);
  }

  & .request__input:checked ~ .request__label {
    &::after {
      content: "";
      position: absolute;
      top: 7px;
      left: 5px;

      display: block;
      width: 21px;
      height: 16px;

      background-image: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  & .request__input:disabled ~ .request__label {
    opacity: 0.2;

    pointer-events: none;
  }
}

.request__button {
  margin-bottom: 21px;
  padding-left: 3px;
}

.request__warning {
  display: block;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  font-family: $arialFont;
  text-align: center;
  text-transform: none;

  sup {
    vertical-align: top;
  }
}

@media (min-width: $tabletWidth) {
  .request {
    margin-bottom: 72px;
    padding-right: 67px;
    padding-left: 70px;

    font-size: 20px;
    line-height: 20px;
  }

  .request__input {
    min-height: 52px;
    padding: 14px 18px;
  }

  .request__annotation {
    width: 52.43%;
    margin-bottom: 66px;

    font-size: 20px;
    line-height: 30px;
  }

  .request__cat {
    margin-bottom: 72px;
    padding: 0 0 0 2px;
  }

  .request__cat-property {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  .request__label {
    margin: auto 18px auto 0;
  }

  .request__goals {
    margin-bottom: 75px;
    padding: 0;

    &::before {
      content: none;
    }
  }

  .request__goals-list {
    width: auto;
    margin: 0;
    padding: 24px 28px 24px 28px;

    border: 1px solid rgb(230, 230, 230);
  }

  .request__goals-item {
    & .request__label {
      padding: 10px 10px 10px 60px;

      &::before {
        width: 40px;
        height: 40px;
      }
    }

    & .request__input:checked ~ .request__label {
      &::after {
        top: 11px;
        left: 11px;

        width: 18px;
        height: 18px;
      }
    }
  }

  .request__owner {
    margin-bottom: 65px;
  }

  .request__owner-title {
    @include green-line-both(22px, 40px, 17px);

    width: 536px;
    margin-bottom: 76px;

    font-size: 36px;
    line-height: 36px;
  }

  .request__owner-item {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:first-child .request__label {
      padding-left: 2px;
    }

    & .request__label {
      margin-right: 19px;
    }
  }

  .request__input-icon {
    &--email {
      top: 20px;
      right: 19px;
    }

    &--tel {
      top: 17px;
      right: 16px;
    }
  }

  .request__comment {
    margin-bottom: 65px;
  }

  .request__comment-title {
    @include green-line-both(22px, 40px, 19px);

    width: 200px;
    margin-bottom: 76px;

    font-size: 36px;
    line-height: 36px;
  }

  .request__comment-text {
    height: 174px;
    padding: 2.22% 3.01%;
  }

  .request__additionally-title {
    @include green-line-both(22px, 40px, 32px);

    width: 220px;
    margin-bottom: 57px;

    font-size: 36px;
    line-height: 36px;
  }

  .request__additionally-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    margin-bottom: 22px;
  }

  .request__additionally-item {
    width: 45.01%;
    min-height: 40px;
    margin-right: 9.51%;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 32px;
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }

    & .request__label {
      padding: 10px 10px 10px 59px;

      &::before {
        width: 40px;
        height: 40px;
      }
    }

    & .request__input:checked ~ .request__label {
      &::after {
        top: 12px;
        left: 10px;

        width: 21px;
        height: 16px;
      }
    }
  }

  .request__button {
    display: inline-block;
    width: 45.01%;
    min-height: 52px;
    margin-right: 9.19%;
    margin-bottom: 0;
    padding-left: 0;

    vertical-align: baseline;
  }

  .request__warning {
    display: inline-block;
    padding-top: 16px;

    font-size: 16px;
    line-height: 16px;
    vertical-align: top;
  }
}

@media (min-width: $desktopWidth) {
  .request {
    margin-bottom: 82px;
    padding: 0 40px;
  }

  .request__annotation {
    padding-top: 3px;
  }

  .request__input-icon {
    &--email {
      right: 20px;
    }

    &--tel {
      right: 19px;
    }
  }

  .request__cat {
    display: inline-block;
    width: 570px;
    margin-right: 75px;
    margin-bottom: 0;

    vertical-align: top;
  }

  .request__goals {
    display: inline-block;
    width: 570px;
    margin-bottom: 69px;

    vertical-align: top;
  }

  .request__owner {
    margin-bottom: 67px;
  }

  .request__owner-list {
    display: flex;
    align-items: flex-start;
  }

  .request__owner-item {
    width: 570px;
    margin-right: 80px;

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  .request__comment {
    margin-bottom: 67px;
  }

  .request__comment-title {
    margin-bottom: 76px;
  }

  .request__comment-text {
    width: 100%;
  }

  .request__additionally-item {
    width: 245px;
    margin-right: 80px;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 32px;
    }

    &:nth-of-type(2n) {
      margin-right: 80px;
    }

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }

  .request__additionally-list {
    margin-bottom: 29px;
  }

  .request__button {
    width: 570px;
    margin-right: 78px;
  }
}
