.share {
  @include container;

  position: relative;

  width: 87.5%;
  margin-bottom: 35px;
  padding: 187px 10px 42px 10px;

  color: rgb(255, 255, 255);

  background-color: $basicThemeColor;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 65px;
    right: 0;
    left: 0;

    display: block;
    width: 55px;
    height: 60px;
    margin: 0 auto;

    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-resolution: $retinaDpi),
    (min-resolution: $retinaDppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.share__title {
  @include visually-hidden;
}

.share__description {
  width: 65.38%;
  margin: 0 auto;
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  font-family: $arialFont;
  text-align: center;
}

@media (min-width: $tabletWidth) {
  .share {
    width: 92.19%;
    min-height: 200px;
    margin-bottom: 76px;
    padding: 72px 0 68px 0;

    background-image: url("../img/gift-photo-tablet@1x.jpg");

    &::before {
      top: 65px;
      right: auto;
      left: 12.85%;
    }

    @media (min-resolution: $retinaDpi),
      (min-resolution: $retinaDppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .share__description {
    width: 165px;
    margin-right: 16.81%;
    margin-left: auto;

    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }
}

@media (min-width: $desktopWidth) {
  .share {
    width: 245px;
    margin: 116px 0 0 auto;
    padding: 187px 10px 42px 10px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    &::before {
      left: 96px;
    }

    @media (min-resolution: $retinaDpi),
      (min-resolution: $retinaDppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .share__description {
    margin: 0 auto;

    text-align: center;
  }
}
