.social {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 23px 0 21px 73px;

  list-style: none;

  border-top: 1px solid rgb(217, 217, 217);
  border-bottom: 1px solid rgb(217, 217, 217);
}

.social__item {
  &:not(:last-child) {
    margin-right: 38px;
  }
}

.social__link {
  display: block;
  height: 19px;
  margin: 0;
  padding: 0;

  font-size: 0;
  color: $basicTextColor;

  &:hover {
    color: $basicThemeColor;
  }

  &:active {
    color: $basicThemeColor;

    opacity: 0.3;
  }
}

.social__icon {
  height: inherit;

  &--vk {
    width: 22px;
  }

  &--inst {
    width: 16px;
  }

  &--fb {
    width: 10px;
  }
}

@media (min-width: $tabletWidth) {
  .social {
    justify-content: space-between;
    align-items: flex-start;
    width: 123px;
    padding: 18px 0 18px 0;

    border: none;
  }

  .social__item {
    &:not(:last-child) {
      margin-right: 0;
    }
  }

  .social__link {
    height: 28px;
  }

  .social__icon {
    height: inherit;

    &--vk {
      width: 30px;
    }

    &--inst {
      width: 23px;
    }

    &--fb {
      width: 14px;
    }
  }
}

@media (min-width: $desktopWidth) {
  .social {
    padding-top: 16px;
  }
}
