//Fonts
$oswaldFont: "Oswald", "Charcoal", sans-serif;
$arialFont: "Arial", "Helvetica", sans-serif;
//Colors
$bodyColor: rgb(17, 17, 17);
$basicTextColor: rgb(68, 68, 68);
$basicThemeColor: rgb(104, 183, 56);
//Media
$mobileWidth: 320px;
$tabletWidth: 768px;
$desktopWidth: 1300px;
