//Font
$oswaldFont: "Oswald", "Arial", sans-serif;
$arialFont: "Arial", sans-serif;
//Body
$defaultBodyColor: rgb(17, 17, 17);
$defaultBodyBgColor: rgb(255, 255, 255);
//Nav-Main
$navMainItemBorderColor: rgb(230, 230, 230);
//Button
$defaultButtonColor: rgb(255, 255, 255);
$defaultButtonBgColor: rgb(104, 183, 56);
$grayButtonColor: rgb(68, 68, 68);
$grayButtonBgColor: rgb(242, 242, 242);
//Main
$mainBorderColor: rgb(237, 237, 237);
//Programs
$programsColor: rgb(255, 255, 255);
$programsItemBgColor: rgb(242, 242, 242);
$programsDescriptionColor: rgb(68, 68, 68);
$programsDescriptionBorderColor: rgb(217, 217, 217);
//Advantages
$advantagesItemColor: rgb(68, 68, 68);
//Example
$exampleItemColor: rgb(68, 68, 68);
$exampleBgColor: rgb(242, 242, 242);
//Products
$productBorderColor: rgb(237, 237, 237);
$productPropertyColor: rgb(68, 68, 68);
//Extras
$extraBorderColor: rgb(205, 205, 205);
//Share
$shareColor: rgb(255, 255, 255);
$shareBgColor: rgb(119, 182, 80);
//Request
$requestLabelColor: rgb(34, 34, 34);
$requestInputColor: rgb(68, 68, 68);
$requestInputBorderColor: rgb(230, 230, 230);
//Contacts
$contactsAddressColor: rgb(68, 68, 68);
$contactsWrapBgGray: rgb(242, 242, 242);
//Footer
$footerBgColor: rgb(242, 242, 242);
$footerCopyrightColor: rgb(68, 68, 68);
//Social
$socialBorderColor: rgb(217, 217, 217);
