//Fonts
$oswaldFont: "Oswald", "Charcoal", sans-serif;
$arialFont: "Arial", "Helvetica", sans-serif;
//Colors
$bodyColor: rgb(17, 17, 17);
$color--white: rgb(255, 255, 255);
$color--whiteSmoke: rgb(242, 242, 242);
$color--whiteSmoke2: rgb(237, 237, 237);
$color--gainsboro: rgb(230, 230, 230);
$color--gainsboro2: rgb(217, 217, 217);
$color--veryLightGrey: rgb(205, 205, 205);
$color--green: rgb(104, 183, 56);
$color--charcoal: rgb(68, 68, 68);
$color--nero: rgb(34, 34, 34);
